# Mysql configurations
default: &default
  host: 127.0.0.1
  port: 3308
  username: your_username
  password: your_super_secret_password
  encoding: "latin1"
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 200 } %>
  checkout_timeout: 10000
  timeout: 10000
  variables:
    sql_mode: STRICT_TRANS_TABLES

development:
  <<: *default
  database: prison_dev
test:
  <<: *default
  database: prison_test

production:
  <<: *default
  database: prison_test

# Uncomment out the following and update them accordingly if
# you need to sync hts and anc to RDS.
#
#hts:
#  adapter: mysql2
#  username: root
#  database: 
#  password: 
#  host: localhost
#  pool: 500
#anc:
#  adapter: mysql2
#  username: root
#  database: 
#  password: 
#  host: localhost
#  pool: 500
healthdata:
  adapter: mysql2
  username: root
  database: healthdata
  password: 
  host: localhost
  pool: 500
